<div class="sidebar">
    <h1 class="site-header">{{ site.title | newline_to_br }}</h1>
    <img src="{{ '/img/symbol.png' | absolute_url }}" alt="Website Symbol" width="150" height="150" />
    <h4>{{ site.description | newline_to_br }}</h4><br>
    <h2><a href="{{ '/about.html' | absolute_url }}">About</a></h2>
    <h2><a href="{{ '/img/overview.png' | absolute_url }}">Metabolism Overview</a></h2>
    <h2><a href="{{ '/compound/' | absolute_url }}">Compounds</a></h2>
    <h2><a href="{{ '/enzyme/' | absolute_url }}">Enzymes</a></h2>
    <h2><a href="{{ '/img/glycolysis-video.mp4' | absolute_url }}">Short Video</a></h2>
</div>